{% extends "base.html" %}

{% block content %}

<h2 class="PostTitle"> I am the sinistersnare </h2>

<div class="PostText">

<img src="/static/img/sinsnare.png" height=50 width=50>

<p>I am Davis Silverman.</p>

<p>I am an avid technology enthusiast; but it is a <a href="/static/img/CompHate.jpeg" target="_blank">love-hate relationship</a>.</p>

<p>I frequent the <a href="http://www.libgdx.com" target="_blank">libgdx</a> IRC channel (#libgdx on freenode) and I do a lot of work on their documentation.</p>

<p>I program mostly in Java and Python; but have experience in other languages <a href="https://github.com/sinistersnare/" target="_blank">(Github)</a>.</p>

<p> I will accept money for code. If you wish to pursue this option, please see my <a href="/contact">contact page</a>.</p>
</div>

{% endblock %}
