{% extends "base.html" %}

{% block content %}

<h2 class="PostTitle"> Contact Me </h2>

<div class="PostText">
<p>I can be reached from each of the following ways:</p>

<ul>
    <li>Email: <a href="mailto:sinistersnare@gmail.com">Sinistersnare@gmail.com</a></li>
    <li>Twitter: <a href="https://twitter.com/Sinistersnare" target="_blank">@Sinistersnare</a></li>
    <li>Github: <a href="https://github.com/sinistersnare/" target="_blank">Sinistersnare</a></li>
    <li>IRC: Sinistersnare (Usually on #libgdx on irc.freenode.net)
</ul>

I am fairly active in all of these communitites; and the advent of smartphones has made an e-mail checking <em>fiend</em> out of me.
</div>

{% endblock %}
